<%- include("partials/header") -%>

<% if(navCheck){ %>
	<%- include("partials/navbarLogout") -%>
	<h5 class="text-right" style="position: absolute;top: 0.4rem;right: 1.5rem;text-shadow: 1px 1px #f2f7f0;"><%= clientDisplayName %></h5>
<%}%> 

<% if(!navCheck) {%>
	<%- include("partials/navbarLogin") -%>
<%}%>

<!-- Booking Section Begins -->
<br /> <br />
<h1><%= serviceType %></h1>
<br />

<!-- Modal - Select Fixer Begins -->
<div class="modal fade" id="NoFixerModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalCenterTitle">Selected Fixer Missing!</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body" style="background-color: #e1e3f0;">
		 Please select a Fixer from the provided list.
		</div>
		<div class="modal-footer">
		  <button type="button" style="margin:0; width:50%; background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none; border-radius:2rem; " class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
<!--Modal - Select Fixer Ends -->

<!-- Booking Form Begins -->
<div class="container">
	<div class="row">
<!-- What Form Section Begins------------------------------------------------------->
		<div class="col-lg-12 text-left">
			<h3 class=" sec-title text-left">What</h3>
			<p>Please choose a Fixer for your service needs from the list.</p>
			<br/>
			<form action="/selectedFixer" method="post" id="selectFixerForm">
				<input type="hidden" name="selectedFixer" id="fixerInput" value="no-fixer">
					<%	for(var i=0; i<fixerData.length; i+=3) { %>
						<div class="card-deck text-center">
							<div class="card card-for-fixer border border-warning col-lg-4" id="<%= fixerData[i]._id %>">

<!-- Modal - Fixer Selected Begins -->
<div class="modal fade <%= fixerData[i]._id %> border border-warning" id="selectedFixerModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content border border-warning">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalCenterTitle">Fixer Selected!</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body" style="background-color:#e1e3f0">
			 <h4 class="card-title"><%= fixerData[i].fixerCompanyName %></h4>
			 <h5>$ <%= fixerData[i].fixerFee %> per Hour</h5>
			</div>
			<div class="modal-footer">
			  <button type="button" style="margin:0; width:50%; background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none; border-radius:2rem; " class="btn fixer-btn" data-dismiss="modal">Continue</button>
			</div>
		  </div>
		</div>
	  </div>
<!-- Modal - Fixer Selected Begins Ends -->
						  <img src="images/user.svg" class="card-img-top " style="padding:15%;" alt="...">
						  <div class="card-body">
							<h5 class="card-title"><%= fixerData[i].fixerCompanyName %></h5>
							<p class="card-text"><%= fixerData[i].fixerDescription %></p>
						</div>
						  <div class="card-footer bg-light" style="border-radius: 0 0 3rem 3rem">
							  <h5>$ <%= fixerData[i].fixerFee %> per Hour</h5>
							  <p class="card-text"><small class="text-muted">Fixer Satisfaction Rating: <%= fixerData[i].fixerRating%></small></p>
							</div>
						</div>
						<% if(fixerData[i+1]){ %>
						<div class="card card-for-fixer border border-warning col-lg-4" id="<%= fixerData[i+1]._id %>">
<!-- modal#2 describing selected fixer -->
<div class="modal fade <%= fixerData[i+1]._id %> border border-warning" id="selectedFixerModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content border border-warning">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalCenterTitle">Fixer Selected!</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body" style="background-color:#e1e3f0">
			 <h4 class="card-title"><%= fixerData[i+1].fixerCompanyName %></h4>
			 <h5>$ <%= fixerData[i+1].fixerFee %> per Hour</h5>
			</div>
			<div class="modal-footer">
			  <button type="button" style="margin:0; width:50%; background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none; border-radius:2rem; " class="btn fixer-btn" data-dismiss="modal">Continue</button>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- end of modal#2 -->
						  <img src="images/user.svg" class="card-img-top " style="padding:15%;" alt="...">  
						  <div class="card-body">
							<h5 class="card-title"><%= fixerData[i+1].fixerCompanyName %></h5>
							<p class="card-text"><%= fixerData[i+1].fixerDescription %></p>
						</div>
						  <div class="card-footer bg-light" style="border-radius: 0 0 3rem 3rem">
								<h5>$ <%= fixerData[i+1].fixerFee %> per Hour</h5>
								<p class="card-text"><small class="text-muted">Fixer Satisfaction Rating: <%= fixerData[i+1].fixerRating%></small></p>
							  </div>
						</div>
						<% } %>
						<% if(fixerData[i+2]){ %>
						<div class="card card-for-fixer border border-warning col-lg-4" id="<%= fixerData[i+2]._id %>">
							<!-- modal#3 describing selected fixer -->
<div class="modal fade <%= fixerData[i+2]._id %> border border-warning" id="selectedFixerModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content border border-warning">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalCenterTitle">Fixer Selected!</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body" style="background-color:#e1e3f0">
			 <h4 class="card-title"><%= fixerData[i+2].fixerCompanyName %></h4>
			 <h5>$ <%= fixerData[i+2].fixerFee %> per Hour</h5>
			</div>
			<div class="modal-footer">
			  <button type="button" style="margin:0; width:50%; background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none; border-radius:2rem; " class="btn fixer-btn" data-dismiss="modal">Continue</button>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- end of modal -->
						  <img src="images/user.svg" class="card-img-top " style="padding:15%;" alt="...">
						  <div class="card-body">
							<h5 class="card-title"><%= fixerData[i+2].fixerCompanyName %></h5>
							<p class="card-text"><%= fixerData[i+2].fixerDescription %></p>
						</div>
						  <div class="card-footer bg-light" style="border-radius: 0 0 3rem 3rem">
								<h5>$ <%= fixerData[i+2].fixerFee %> per Hour</h5>
								<p class="card-text"><small class="text-muted">Fixer Satisfaction Rating: <%= fixerData[i+2].fixerRating%></small></p>
							  </div>
						</div>
						<br /> <br />
						<% } %>
					  </div>
		<%	} %>
					

<!-- Where Form Section Begins------------------------------------------------------->
				
				<h3 class="booking-sec-title text-left row1">Where</h3>
				<p>Please provide the address for the service location.</p>
				<div class="form-row row1">
					<div class="form-group col-lg-4">
						<!-- <label for="inputAddress1"></label> -->
						<input
							type="text"
							class="form-control"
							id="inputAddress1"
							placeholder="Street Address 1"
							name="streetAddress1"
							required
						/>
					</div>
					<div class="form-group col-lg-4">
							<!-- <label for="inputAddress2"></label> -->
							<input
								type="text"
								class="form-control"
								id="inputAddress2"
								placeholder="Street Address 2"
								name="streetAddress2"
							/>
						</div>
					<div class="form-group col-lg-4">
						<!-- <label for="inputCity"></label> -->
						<input type="text" class="form-control" id="inputCity" placeholder="City" name="city" required/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-lg-4">
						<!-- <label for="inputCountry"></label> -->
						<input type="text" class="form-control" id="inputCountry" placeholder="Country" name="country" required />
					</div>
					<div class="form-group col-lg-4">
						<!-- <label for="inputState"></label> -->
						<input
							type="text"
							class="form-control"
							id="inputState"
							placeholder="State"
							name="state"
							required
						/>
					</div>
					<div class="from-group col-lg-4">
							<!-- <label for="inputZip"></label> -->
							<input type="number" class="form-control" id="inputZip" placeholder="Zip Code"
							name="postalCode" required/>
						</div>
				</div>
<!-- When Form Section Begins------------------------------------------------------->
				<br />
				<h3 class="booking-sec-title text-left">When</h3>
				<p>Please provide the date and time for the needed service.</p>
				<div class="form-row row1">
					<div class="form-group col-lg-4">
						<!-- <label for="inputDate"></label> -->
						<input
							type="date"
							class="form-control"
							id="inputDate"
							placeholder="Date"
							style="color: #8d5a97;"
							name="orderWorkDate"
							required
						/>
						<small id="date" class="form-text" style="color: #8d5a97;">Date</small>
					</div>
					<div class="form-group col-lg-3">
						<!-- <label for="inputStartTime"></label> -->
						<input
							type="time"
							class="form-control"
							id="inputStartTime"
							placeholder="StartTime"
							style="color: #8d5a97;"
							name="startTime"
							required
						/>
						<small id="startTime" class="form-text" style="color: #8d5a97;">Start Time</small>
					</div>

					<div class="col-lg-3 form-group">
						<!-- <label for="inputStopTime"></label> -->
						<input
							type="time"
							class="form-control"
							id="inputStopTime"
							placeholder="StopTime"
							style="color: #8d5a97;"
							name="stopTime"
							required
						/>
						<small id="stopTime" class="form-text" style="color: #8d5a97;">Stop Time</small>
					</div>
					<div class="form-group col-lg-2">
						<!-- <label for="inputHours"></label> -->
						<!-- <input type="number" class="form-control" id="inputHours" placeholder="Hours" name="hours" />
						<small id="totalHours" class="form-text" style="color: #8d5a97;"
							>Total Requested Hours</small
						> -->
						<input type="hidden" class="form-control" id="inputHours" name="hours" />
						<p class="timeDiff" style="margin:0.5rem 0rem"></p>
					</div>
				</div>
				<br />
<!-- How Form Section Begins------------------------------------------------------->
				<h3 class="booking-sec-title text-left">How</h3>
				<p>Please describe your expectations and or provide notes for your selected Fixer and if any responsibilities you will provide.</p>
				<div class="form-row row1">
					<div class="col-lg-12 form-group">
						<!-- <label for="fixerExpec"></label> -->
						<textarea
							name="fixerExpec"
							id="fixerExpec"
							class="form-control"
							rows="4"
							placeholder="Fixer Expectations ..."
							name="fixerExpec" required
						></textarea>
					</div>
					<div class="col-lg-12 form-group">
						<!-- <label for="customerResp"></label> -->
						<textarea
							name="customerResp"
							id="customerResp"
							class="form-control"
							rows="4"
							name="customerResp"
							placeholder="Customer Responsibilities ..." required
						></textarea>
					</div>
				</div>
				
			

<!-- Booking Form Section Ends------------------------------------------------------->

		</div> 
		<!-- column 2 -->

		<!-- <div class="col-lg-4 upload-image-box" >
			<img src="images/upload-img-holder.png" width="250" height="280" alt="Fixer-img" /><br />
			<div>
				<button
					class="btn btn-warning"
					style="margin-top:1.5rem; width:250px; background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none;"
					type="submit"
				>
					Upload
				</button>
			</div>
		</div> -->
	</div>
</div>
<div class="text-center">
	<button id="booking-submit-btn"
		type="submit"
		class="btn btn-lg btn-outline-warning submitBtn"
		style="margin-top:1.5rem; width:50%; background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none; border-radius:2rem;"
	>
		Confirm Fixer Request
	</button></div>
</form>

<!-- Booking Section Ends ------------------------------------------------------->
<%- include("partials/footer") -%>
