<!-- Header with Navbar Section Begins  --------------------------------------------------------->
<%- include("partials/header") -%>
<% if(navCheck){ %> <%- include("partials/navbarLogout") -%>
<h5
	class="text-right"
	style="position: absolute;top: 0.4rem;right: 1.5rem;text-shadow: 1px 1px #f2f7f0;"
>
	<%= clientDisplayName %>
</h5>
<%}%> <% if(!navCheck) {%> <%- include("partials/navbarLogin") -%> <%}%>
<!-- Header with Navbar Section Ends  --------------------------------------------------------->

<!-- Service Section Begins  --------------------------------------------------------->
<section class="container services-section text-center">
	<h1 class="sec-title">Invest In Your Convenience</h1>
	<h5 class="">Select Your Fixer Service Type</h5>

	<div class="services-btns container">
		<div class="row row-service-icons">
			<div class=" col-lg-4 col-md-6 col-sm-12">
				<form action="/service" method="POST" id="repairs">
					<input type="hidden" name="serviceType" value="repairs" />
					<img
						src="images/service-icons/repairs.png"
						width="180"
						height="180"
						alt="repairs-icons"
						class="service-img shadow"
						name="repairs"
					/>
				</form>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<form action="/service" method="POST" id="plumbing">
					<input type="hidden" name="serviceType" value="plumbing" />
					<img
						src="images/service-icons/plumbing.png"
						width="180"
						height="180"
						alt="plumbing-icon"
						class="service-img shadow"
						name="plumbing"
					/>
				</form>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<form action="/service" method="POST" id="housekeeping">
					<input type="hidden" name="serviceType" value="housekeeping" />
					<img
						src="images/service-icons/housekeeping.png"
						width="180"
						height="180"
						alt="housekeeping-icon"
						class="service-img shadow"
						name="housekeeping"
					/>
				</form>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<form action="/service" method="POST" id="admin">
					<input type="hidden" name="serviceType" value="admin" />
					<img
						src="images/service-icons/admin.png"
						width="180"
						height="180"
						alt="admin-icon"
						class="service-img shadow"
						name="admin"
					/>
				</form>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<form action="/service" method="POST" id="lawncare">
					<input type="hidden" name="serviceType" value="lawncare" />
					<img
						src="images/service-icons/lawncare.png"
						width="180"
						height="180"
						alt="lawncare-icon"
						class="service-img shadow"
						name="lawncare"
					/>
				</form>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<form action="/service" method="POST" id="personal-driver">
					<input type="hidden" name="serviceType" value="personal-driver" />
					<img
						src="images/service-icons/personal-driver.png"
						width="180"
						height="180"
						alt="personal-driver-icon"
						class="service-img shadow"
						name="personal-driver"
					/>
				</form>
			</div>
		</div>
	</div>
	<h2 class="" style="padding-top: 4rem;">Fixers Ready To</h2>
	<div class="container">
		<div class="row row-fixers-ready-to">
			<div class="col-lg-6 text-left">
				<ul>
					<li>Unclog Your Sink</li>
					<li>Assemble Furniture</li>
					<li>Fix Your Leak</li>
					<li>Build a Tree House</li>
				</ul>
			</div>
			<div class="col-lg-6 text-left">
				<ul>
					<li>Mow Your Lawn</li>
					<li>Plant Flowers</li>
					<li>Run Your Errands</li>
					<li>Clean Your House</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Service Section Ends  --------------------------------------------------------->

<!-- How it Works Section Begins  --------------------------------------------------------->
<section class="works-sec">
	<img
		class="works-bk-img"
		id="works-img-right"
		src="images/H-t-Wk-background-right.png"
		alt="color and shape background"
	/>
	<div class=" " style="z-index: 2;">
		<h1 class="sec-title">How it Works</h1>
		<h5 class="rw">4 Simple Steps</h5>
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="work-text" style="text-align: justify">
							As easy as counting to four: 1, 2, 3, 4.  Invest in your convenience; book a Fixer to resolve your issues today. Step 1) Determine the type of service needed.  AssistU currently offers Fixers to take care of your Repair, Plumbing, Housekeeping, Administrative, Lawn Care, and Personal Driving needs and wants. Step 2) Select the Fixer of your choice, remembering to evaluate the Fixer’s hourly rate and customer service satisfaction rating during one’s selection.  
					</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-12">
						<img id="circle-1" src="images/Circle-1.png" alt="Circle 1" />
						<img class="line" src="images/rectangle-7.png" alt="line" />
					</div>
					<div class="col-lg-3 col-sm-12">
						<img src="images/Circle-2.png" alt="Circle 2" />
						<img class="line" src="images/rectangle-7.png" alt="line" />
					</div>
					<div class="col-lg-3 col-sm-12">
						<img src="images/Circle-3.png" alt="Circle 3" />
						<img class="line" src="images/rectangle-7.png" alt="line" />
					</div>
					<div class="col-lg-3 col-sm-12 margin-for-ipad ">
						<img src="images/Circle-4.png" alt="Circle 4" />
						<img class="line line-4-hide" src="images/rectangle-7.png" alt="line" />
					</div>
				</div>
			</div>
		</div>
		<div class="container ">
			<div class="row work-btm-text">
				<div class="col-lg-6 col-sm-12">
					<h4 class="work-text-left work-text">
						Determine your Fixer needs.  Select your Fixer and complete the booking process.
					</h4>
				</div>
				<div class="col-lg-6 col-sm-12">
					<p class="work-text-right work-text">
							Step 3) Complete the booking form. Provide us with the Who, What, Where and When details needed for your service request.  Step 4) Lastly, confirm your Fixer request. If you have not already, join fellow satisfied AssistU Clients and register today! 
					</p>
				</div>
			</div>
		</div>
	</div>
	<img
		class="works-bk-img"
		id="works-img-left"
		src="images/H-t-Wk-background-left.png"
		alt="color and shape background"
	/>
</section>
<!-- How it Works Section Ends  --------------------------------------------------------->

<!-- LeaderShip Section Begins  --------------------------------------------------------->
<section class="leadership text-center">
	<h1 class="sec-title">LeaderShip</h1>
	<h5 class=" rw">We Revolutionize</h5>

	<div class="container" style="padding: 0 5rem;">
		<div class="row">
			<div class="col-lg-6 bio-div">
				<img
					src="/images/@vai.png"
					class="bio-img"
					alt="Kathy Lambert image"
					width="200"
					height="200"
				/>
				<h5 class="name">Vaibhav Srivastava</h5>
				<p class="bio-text">
					Vaibhav Srivastava is a self-taught full-stack web developer passionate about building appealing, high-performance and easy-to-use applications on top of cutting-edge tech stacks. Embracing self-learning, he loves to adopt new tech stacks and bring the most productive outcome with it. He has a strong belief that through code and automation, one can aim to solve real-world problems in the most efficient manner. 
				</p>
			</div>
			<div class="col-lg-6 bio-div">
				<img
					src="/images/@CMK.png"
					class="bio-img"
					alt="Kathy Lambert image"
					width="200"
					height="200"
				/>
				<h5 class="name">Kathy Lambert</h5>
				<p class="bio-text">
					Kathy Lambert is an intellectually curious individual with an insatiable desire to
					understand. She utilizes her diverse background, experiences, and skills to help be a
					resourceful, organized and forward-thinking project manager, web designer, and software
					developer. Passionate about creating applications which are tools of efficiency in
					people's lives. Giving time back for what matter's most in life.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- LeaderShip Section Ends  --------------------------------------------------------->

<!-- Our Mission Section Begins  --------------------------------------------------------->
<section class="mission">
	<h1 class="sec-title rw">Our Mission</h1>
	<h5 class=" rw">What We Believe In</h5>

	<p class="rw" style="text-align: justify">
		With AssistU, we serve the labor needs of the urban society by providing certain services that are required on a daily basis at a large scale but common people don't find enough time to do it properly. There are certain services that the busy working members of the family require daily but do not find sufficient time to do, most of the time, they find various issues in hiring regular workers. With AssistU, we solve this problem of the urban household by providing these services on a common platform ensuring the best quality work right at the house of common people so as to make their life easy and comfortable, generating large employment at the same time. 
We look forward to making it a big User-Fixer communication and Booking platform to ease the life of clients and provide maximum employment opportunities to skilled fixers.
	</p>
</section>
<!-- Our Mission Section Ends  --------------------------------------------------------->

<!-- Contact Us Section Begins  --------------------------------------------------------->
<section class="container contact-us text-center">
	<h1 class="sec-title">Contact Us</h1>
	<form action="/contact" method="post" class="text-left">
		<div class="form-group contact-form">
			<label class="form-heading" for="exampleInputEmail1">Your Email Address</label>
			<input
				type="email"
				class="form-control"
				id="exampleInputEmail1"
				aria-describedby="emailHelp"
				placeholder="Name@about.com"
				name="contactEmail"
				required
			/>
		</div>
		<div class="form-group">
			<label for="exampleInputSubject" class="form-heading" required>Subject</label>
			<input
				type="text"
				class="form-control"
				id="exampleInputSubject"
				aria-describedby="emailHelp"
				placeholder="Service Questions"
				name="contactSubject"
				required
			/>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1" class="form-heading" required>Message</label>
			<textarea
				placeholder="Tell us what is on your mind ..."
				class="form-control"
				id="exampleFormControlTextarea1"
				rows="8"
				name="contactMessage"
				required
			></textarea>
		</div>
		<button
			type="submit"
			class="btn btn-lg btn-warning"
			style="background-color: #F9D276; width:100%; font-family: 'Fredoka One', cursive; color: #63032e; margin:1.3rem 0; border-radius: 2rem;"
		>
			Send Your Message
		</button>
	</form>
</section>
<!-- Contact Us Section Ends  --------------------------------------------------------->

<%- include("partials/footer") -%>
