<%- include("partials/header") -%> <% if(navCheck){ %> <%- include("partials/navbarLogout") -%>
<h5
	class="text-right"
	style="position: absolute;top: 0.4rem;right: 1.5rem;text-shadow: 1px 1px #f2f7f0;"
>
	<%= clientDisplayName %>
</h5>
<%}%> <% if(!navCheck) {%> <%- include("partials/navbarLogin") -%> <%}%>
<div class="thanks-center">
	<h2 class="display-4">Thank you for your message!</h2>
	<p class="lead">
		We really appreciate your interest in our services. One of our representatives will be in touch
		with you soon.
	</p>
	<a
		class="btn btn-primary btn-lg"
		href="/"
		role="button"
		style="background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none; border-radius: 2rem;"
		>Return Home</a
	>
</div>
<%- include("partials/footer") -%>
